@using Microsoft.AspNetCore.Mvc.Rendering
@using WebProject.Models


@{
    ViewData["Title"] = "Add Task";
    MyTask task = ViewBag.Task; // Explicitly retrieve Task from ViewBag
}

<h1>Add Task</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@task.TaskName" class="control-label">Название задачи:</label>
                <input asp-for="@task.TaskName" class="form-control" value="@task.TaskName" /> @*Access properties via 'task'*@
                <span asp-validation-for="@task.TaskName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@task.ProjectId" class="control-label">Проект:</label>
                <select asp-for="@task.ProjectId" class="form-control" asp-items="@(new SelectList(ViewBag.Project, "Id", "Name", task.ProjectId))">
                    @*Set selected value*@
                    <option value="">-- Выберите проект --</option>
                </select>
                <span asp-validation-for="@task.ProjectId" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input asp-for="@task.Active" class="form-check-input" checked="@task.Active" /> @*Access properties via 'task'*@ @Html.DisplayNameFor(model => task.Active)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}