@model WebProject.Models.MyTask

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Tasks</h1>
    <p>
    All
    <br />
    </p>
    <div class="row-task">
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.TaskName)
        </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.ProjectId)
        </dt>
        <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.ProjectId)
        </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
        <span class="active-status @(Model.Active ? "active" : "inactive")"></span>
        </dd>
        </dl>
    </div>