@model IEnumerable<WebProject.Models.MyTask>

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Tasks</h1>

<p>
    <a asp-action="Create">Create task</a>
</p>

<table class="table">
    <thread>
        <tr>
            <th>
                Task Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thread>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.TaskName
                </td>
                <td>
                    Project ID: @item. <br />
                    <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                    <a asp-action="About" asp-route-id="@item.ProjectId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


